<h2>QUAL O TIPO DE PRIORIDADE?</h2>
<div>
  <a routerLink="/imprimindo/{{id}}/4" class="btn btn-danger">DEFICIENTE FÍSICO, MENTAL OU VISUAL</a>
  <a routerLink="/imprimindo/{{id}}/5" class="btn btn-danger">GESTANTES</a>
  <a routerLink="/imprimindo/{{id}}/2" class="btn btn-danger">IDOSOS ACIMA DE 60 ANOS</a>
  <a routerLink="/imprimindo/{{id}}/7" class="btn btn-danger">IDOSOS ACIMA DE 80 ANOS</a>
  <a routerLink="/imprimindo/{{id}}/6" class="btn btn-danger">LACTANTES</a>
  <a routerLink="/imprimindo/{{id}}/3" class="btn btn-danger">PESSOAS COM CRIANÇA DE COLO</a>
  <a routerLink="/imprimindo/{{id}}/8" class="btn btn-danger">OBESOS</a>
</div>