<h1>CONFIGURAÇÕES</h1>
<div id="configs">
  <p>Para essa tela, ao selecionar ou deselecionar um item o mesmo será automaticamente salvo.</p>
  <h5>SECRETARIAS</h5>
  <div class="form-group" *ngFor="let secretaria of secretarias">
    <label>
      <input type="checkbox" id="secretaria_{{secretaria.id}}" (click)="click_secretaria(secretaria.id)" [checked]="isSecretariaSelecionadaById(secretaria.id)"
      /> {{secretaria.nome}}</label>
  </div>
  <h5>SERVIÇOS</h5>
  <div class="form-group" *ngFor="let servico of servicos">
    <label>
      <input type="checkbox" id="servico_{{servico.servico.id}}" (click)="click_servico(servico.servico.id)" [checked]="isServicoSelecionadoById(servico.servico.id)"
      /> {{servico.secretaria.nome}} - {{servico.servico.nome}} ({{isServicoSelecionadoById(servico.servico.id)}})</label>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 columns">
        <a routerLink="/configuracao" class="btn btn-light">VOLTAR</a>
      </div>
    </div>
  </div>
</div>



<iframe id="frame-impressao" width="0" height="0" style="border:none;"></iframe>